# Byte-compiled / optimized / DLL files
__pycache__

# virtualenv
/venv
ENV/

# NPM
/node_modules
npm-debug.log
npm-debug.log.*

# Databases
database/*.db
database/*.db-journal

# Mix
mix-manifest.json

static/*
!static/.gitkeep

# Other
.vscode
