<!DOCTYPE html>
<html lang="ES">
	<head>
		<meta charset="UTF-8">
		<title>CPL - Cartagena Potholes Locator</title>
		<!-- Styles -->
		<link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">

		<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
<body>
	<!-- Navigation -->
	<div class="navbar-fixed" id="nav">
		<nav role="navigation">
			<div class="nav-wrapper container">
				<a href="#!" class="brand-logo">
					<i class="material-icons left">api</i>CPL</a>

				<!-- Right menu -->
				<ul class="right hide-on-med-and-down">
					<li><a href="#!">Mapa</a></li>
					<li><a href="#!">Estadísticas</a></li>
					<li>
						<a class="btn btn-blue"
								onclick="document.getElementById('toggleSave').click()">
							Publicar
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

  <!-- Content -->
	<div id="app">
		{% block content %}{% endblock %}
	</div>

  <!-- Script -->
  <script src="{{ url_for('static', filename = 'main.js') }}"></script>
</html>
